.langAndCurrency {
    display: flex;
    justify-content:flex-start;
    margin-left: 179.25px;
    gap:2rem;
}

select {
    border-style: none;
}
.blackLabel {
    background-color: black;
    color:white;
    text-align: center;
    font-size: 14px;
    font-family: 'DM Sans';
    padding:0.5rem;
}
.rating {
    color: #616161;
}
.img{
    width: 719.09px;
    height: 840.85px;
    /* object-fit: cover; */
}
.redSquare{
    background-color: red;
    color:white;
    border-radius: 0.5rem;
    font-size: 12px;
}
.bootImg{
    width: 110.63px;
    height: 142.12px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(odd) {
    background-color: #F7F7F7;
  }

  .helo {
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    text-align: center;
  }
  .profileImg {
    border-radius: 50%;
    cursor: pointer;
  }
.footer {
    display: flex;
    justify-content: center;
    gap:4rem;
    background-color: black;
    height:400px;
    color:white;

}
.pointer{
    cursor: pointer
}
